<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dsrv.Kernpruefung.Deuev-1.6" version="1.6.1.2" targetFramework="net45" />
  <package id="Dsrv.Kernpruefung.Deuev-1.7" version="1.7.0.2" targetFramework="net45" />
  <package id="FubarDev.BeanIO" version="3.1.2" targetFramework="net45" />
  <package id="IKVM" version="8.0.5449.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NodaTime" version="1.3.1" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>